# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
env/
ENV/
.venv/

# Environment variables
.env

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# VS Code settings
.vscode/

# Logs and databases
*.log
*.sqlite3
*.db

# Data files

*.tsv
*.parquet
*.pkl
*.h5


